body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 162, 72);
  width: 600px;
  margin: 0 auto;
  height: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
  font-style: italic;
}

html {
  background-color: rgb(113, 113, 180);
}

img{
  display: block;
  margin: auto;
  width: 25%;
}